#dropdown2 > li{
    max-height: 35px;
    min-height: 35px;
    max-width: 130px; 
    min-width: 130px;
}
#dropdown2{
    max-width: 130px; 
    min-width: 130px;
    overflow : hidden !important;
}
.contenu{
    display:none;
}
.card{
    width:30%;
    height:auto;
    float:none;
    display:inline-block;

}
.card > div > img {
    display: none;
    max-width:70%;
    height:auto;
}
.card-container{
}

.sidenav-trigger{
	margin: 0 0px !important;
}
